.loginContainer {
    text-align: center;
    padding: 25px;
}

.loginContainer input {
    margin-bottom: 10px;
}

.loginContainer label {
    color: white;
}

.loginContainer h1 {
    color: white;
}

.error {
    color: yellow;
}