@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    font-family: 'Anta', sans-serif;
}

#my-name {
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#my-web {
    text-align: center;
    margin-bottom: 15px;
}

#who {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

#who-text {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px
}

#who-container {
    border-radius: 20px;
    height: 200px;
    width: 800px;
    margin: auto;
    background-color: transparent;
    border: 2px solid;
}

#food-text {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#food-container {
    border-radius: 20px;
    height: 375px;
    width: 800px;
    margin: 25px auto;
    background-color: transparent;
    border: 2px solid;
    text-align: center;

}

#food-container img {
    width: 200px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}

.comida {
    display: inline-block;
    margin: 10px;
}

.comida p {
    margin-top: 5px;
    font-size: 25px;
}

#actividades-title {
    font-size: 25px;
    margin-bottom: 20px;
}

#activities-box {
    text-align: center;
}

#activity-name {
    margin-bottom: 10px;
    box-sizing: border-box;
}
#activity-description {
    margin-bottom: 10px;
}

#activity-url {
    margin-bottom: 10px;
}

.activity-card img {
    width: 250px;
    height: 250px;
}

#activities-container {
    text-align: center;
}

.activity-card {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
