.navbarContainer {
  height: 100px;
  color: white;
  font-size: 18px;
  font-family: Monocraft;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbarContainerLink {
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 15px;
}

.navbarContainerLink:hover {
  font-size: 20px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.navbarContainer img {
  height: 100px;
  filter: drop-shadow(1px 1px 5px yellow);
}
