.registerContainer {
    text-align: center;
    padding: 25px;
}

.registerContainer input {
    margin-bottom: 10px;
}

.registerContainer label {
    color: white;
}

.registerContainer h1 {
    color: white;
}

.error {
    color: yellow;
}